body  {
    font-family: Arial, sans-serif;
    background-image: url(https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/zapatillas-hombre-air-jordan-1-zoom-racer-blue-de-nike-1-1583490808.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1020px;
}
.login-form {
    width: 300px;
    margin: 100px auto;
    padding: 30px;
    background-color: #d0d4d4; 
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.sesion {
    font-size: 1.5em;
    margin-bottom: 20px;
    color: #000; 
    background-color: transparent; 
    padding: 10px;
    border-radius: 8px;
}

form input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.inicio {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    background-color: #333;
    color: #fff;
    border: px solid #333; 
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
}

.inicio:hover {
    background-color: #000;
}

.error-mensaje {
    color: red;
    margin-top: 10px;
    font-size: 0.9em;
}