body{
    background-color: #d0d4d4;
}

.carousel{
    margin-top: 100px;
    max-height: 1080px; 
    width: 600px; 
    align-content: center;
    position: relative; 
    border: 3px solid #979797;
    border-radius: 10px; 
    overflow: hidden;
}

.carousel img {
    width: 100%; 
    height: auto; 
    object-fit: cover; 
}

.btn-square {
    width: 100px; 
    height: 50px; 
    padding: 0 15px; 
    text-align: center;
    font-size: 18px;
    border-radius: 0; 
    color: #fff; 
    margin-right: 10px; /* Espacio entre botones */
    background-color: #979797; 
    border: 1px solid black; 
}

.btn-square:last-child {
    margin-right: 0; 
}

.btn-square:focus {
    box-shadow: 0 0 0 2px #fff, 0 0 0 4px black; 
}

.tallas-disponibles {
    margin-top: 100px; /* Ajusta el margen según sea necesario */
}

.btn_inicio{
    color:#000000;
    font-size: large;
}

.sucursales img {
    width: 100px; /* Tamaño deseado de las imágenes */
    border: 2px solid black; /* Borde */
    border-radius: 5px; /* Borde redondeado */
    margin-right: 10px; /* Espacio entre las imágenes */
    margin-bottom: 10px; /* Espacio hacia abajo */
}
